# Database
DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=

# Groq AI
GROQ_API_KEY=

# Brevo SMTP
BREVO_HOST=smtp-relay.brevo.com
BREVO_PORT=587
BREVO_USER=
BREVO_PASS=
BREVO_FROM=

# Scraper
SCRAPE_URL=
